Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

H0 : all proportions are equal
H1 : not all proportions are equal

In [1]:
import pandas as pd
from scipy import stats as stats

In [2]:
df = pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [11]:
table = df.iloc[:,1:6]
table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [27]:
df_1=table.values

In [28]:
a = stats.chi2_contingency(table)
a

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [29]:
Expected_value=a[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [39]:
chi_table = stats.chi2.ppf(q = 0.95, df = 3)
chi_table

7.814727903251179

In [42]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2/e for o,e in zip(table.values,Expected_value)])
chi_square_stat = chi_square[0] + chi_square[1]
chi_square_stat

1.5152956451130446

In [44]:
p = 1-chi2.cdf(chi_square_stat,3)
p

0.6787446296467897

In [46]:
alpha = 0.05
if p < alpha:
    print("H1 is rejected and H0 is accepted")
else:
    print("H0 is rejected and H1 is accepted")

H0 is rejected and H1 is accepted